@model IEnumerable<TheWorld.Models.Trip>
@{
    ViewBag.Title = "Home Title";
}
<div class="row">
    <div class="col-md-12" >
        <h1>Welcome to TheWorld</h1>
        <p>This app lets you plan your trip around the world</p>
        <a asp-controller="App" asp-action="Trips" class="btn btn-lg btn-success">View my trips</a>
    </div>
</div>
